@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap';
.m-r-1 {
  margin-right: 4px;
}

.m-l-1 {
  margin-left: 4px;
}

.m-t-1 {
  margin-top: 4px;
}

.m-b-1 {
  margin-bottom: 4px;
}

.p-r-1 {
  padding-right: 4px;
}

.p-l-1 {
  padding-left: 4px;
}

.p-t-1 {
  padding-top: 4px;
}

.p-b-1 {
  padding-bottom: 4px;
}

.m-r-2 {
  margin-right: 8px;
}

.m-l-2 {
  margin-left: 8px;
}

.m-t-2 {
  margin-top: 8px;
}

.m-b-2 {
  margin-bottom: 8px;
}

.p-r-2 {
  padding-right: 8px;
}

.p-l-2 {
  padding-left: 8px;
}

.p-t-2 {
  padding-top: 8px;
}

.p-b-2 {
  padding-bottom: 8px;
}

.m-r-3 {
  margin-right: 12px;
}

.m-l-3 {
  margin-left: 12px;
}

.m-t-3 {
  margin-top: 12px;
}

.m-b-3 {
  margin-bottom: 12px;
}

.p-r-3 {
  padding-right: 12px;
}

.p-l-3 {
  padding-left: 12px;
}

.p-t-3 {
  padding-top: 12px;
}

.p-b-3 {
  padding-bottom: 12px;
}

.m-r-4 {
  margin-right: 16px;
}

.m-l-4 {
  margin-left: 16px;
}

.m-t-4 {
  margin-top: 16px;
}

.m-b-4 {
  margin-bottom: 16px;
}

.p-r-4 {
  padding-right: 16px;
}

.p-l-4 {
  padding-left: 16px;
}

.p-t-4 {
  padding-top: 16px;
}

.p-b-4 {
  padding-bottom: 16px;
}

.m-r-5 {
  margin-right: 20px;
}

.m-l-5 {
  margin-left: 20px;
}

.m-t-5 {
  margin-top: 20px;
}

.m-b-5 {
  margin-bottom: 20px;
}

.p-r-5 {
  padding-right: 20px;
}

.p-l-5 {
  padding-left: 20px;
}

.p-t-5 {
  padding-top: 20px;
}

.p-b-5 {
  padding-bottom: 20px;
}

.m-r-6 {
  margin-right: 24px;
}

.m-l-6 {
  margin-left: 24px;
}

.m-t-6 {
  margin-top: 24px;
}

.m-b-6 {
  margin-bottom: 24px;
}

.p-r-6 {
  padding-right: 24px;
}

.p-l-6 {
  padding-left: 24px;
}

.p-t-6 {
  padding-top: 24px;
}

.p-b-6 {
  padding-bottom: 24px;
}

.m-r-7 {
  margin-right: 28px;
}

.m-l-7 {
  margin-left: 28px;
}

.m-t-7 {
  margin-top: 28px;
}

.m-b-7 {
  margin-bottom: 28px;
}

.p-r-7 {
  padding-right: 28px;
}

.p-l-7 {
  padding-left: 28px;
}

.p-t-7 {
  padding-top: 28px;
}

.p-b-7 {
  padding-bottom: 28px;
}

.m-r-8 {
  margin-right: 32px;
}

.m-l-8 {
  margin-left: 32px;
}

.m-t-8 {
  margin-top: 32px;
}

.m-b-8 {
  margin-bottom: 32px;
}

.p-r-8 {
  padding-right: 32px;
}

.p-l-8 {
  padding-left: 32px;
}

.p-t-8 {
  padding-top: 32px;
}

.p-b-8 {
  padding-bottom: 32px;
}

.m-r-9 {
  margin-right: 36px;
}

.m-l-9 {
  margin-left: 36px;
}

.m-t-9 {
  margin-top: 36px;
}

.m-b-9 {
  margin-bottom: 36px;
}

.p-r-9 {
  padding-right: 36px;
}

.p-l-9 {
  padding-left: 36px;
}

.p-t-9 {
  padding-top: 36px;
}

.p-b-9 {
  padding-bottom: 36px;
}

.m-r-10 {
  margin-right: 40px;
}

.m-l-10 {
  margin-left: 40px;
}

.m-t-10 {
  margin-top: 40px;
}

.m-b-10 {
  margin-bottom: 40px;
}

.p-r-10 {
  padding-right: 40px;
}

.p-l-10 {
  padding-left: 40px;
}

.p-t-10 {
  padding-top: 40px;
}

.p-b-10 {
  padding-bottom: 40px;
}

.m-r-11 {
  margin-right: 44px;
}

.m-l-11 {
  margin-left: 44px;
}

.m-t-11 {
  margin-top: 44px;
}

.m-b-11 {
  margin-bottom: 44px;
}

.p-r-11 {
  padding-right: 44px;
}

.p-l-11 {
  padding-left: 44px;
}

.p-t-11 {
  padding-top: 44px;
}

.p-b-11 {
  padding-bottom: 44px;
}

.m-r-12 {
  margin-right: 48px;
}

.m-l-12 {
  margin-left: 48px;
}

.m-t-12 {
  margin-top: 48px;
}

.m-b-12 {
  margin-bottom: 48px;
}

.p-r-12 {
  padding-right: 48px;
}

.p-l-12 {
  padding-left: 48px;
}

.p-t-12 {
  padding-top: 48px;
}

.p-b-12 {
  padding-bottom: 48px;
}

.m-r-13 {
  margin-right: 52px;
}

.m-l-13 {
  margin-left: 52px;
}

.m-t-13 {
  margin-top: 52px;
}

.m-b-13 {
  margin-bottom: 52px;
}

.p-r-13 {
  padding-right: 52px;
}

.p-l-13 {
  padding-left: 52px;
}

.p-t-13 {
  padding-top: 52px;
}

.p-b-13 {
  padding-bottom: 52px;
}

.m-r-14 {
  margin-right: 56px;
}

.m-l-14 {
  margin-left: 56px;
}

.m-t-14 {
  margin-top: 56px;
}

.m-b-14 {
  margin-bottom: 56px;
}

.p-r-14 {
  padding-right: 56px;
}

.p-l-14 {
  padding-left: 56px;
}

.p-t-14 {
  padding-top: 56px;
}

.p-b-14 {
  padding-bottom: 56px;
}

.m-r-15 {
  margin-right: 60px;
}

.m-l-15 {
  margin-left: 60px;
}

.m-t-15 {
  margin-top: 60px;
}

.m-b-15 {
  margin-bottom: 60px;
}

.p-r-15 {
  padding-right: 60px;
}

.p-l-15 {
  padding-left: 60px;
}

.p-t-15 {
  padding-top: 60px;
}

.p-b-15 {
  padding-bottom: 60px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1020px) {
  .mobile-hide {
    display: none !important;
  }
}

@media only screen and (min-width: 1020px) {
  .desktop-hide {
    display: none !important;
  }
}

.link {
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.link:hover {
  color: #1fdb84;
}

.border-bottom {
  border-bottom: 1px solid #1fdb84;
}

.clear-fix::after {
  content: "";
  clear: both;
  display: table;
}

.m-r-auto {
  margin-right: auto;
}

.m-l-auto {
  margin-left: auto;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle;
}

.fs-reset {
  font-size: 0;
}

.wd-fc {
  width: fit-content;
}

.p-t-50 {
  padding-top: 200px;
}

.p-b-50 {
  padding-bottom: 200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 100%;
  background-color: #f8f9fc;
}

h1, h2, h3, .heading {
  font-weight: 700;
}

a, a:visited, a:active {
  text-decoration: none;
}

.fw-700 {
  font-weight: 700;
}

.font-24 {
  font-size: 24px;
  line-height: normal;
}

.font-40 {
  font-size: 40px;
  line-height: normal;
}

.font-48 {
  font-size: 48px;
  line-height: normal;
}

.font-16 {
  font-size: 16px;
  line-height: 2;
}

.font-18 {
  font-size: 18px;
  line-height: 2;
}

.color-white {
  color: #ffffff;
}

.color-slate-blue {
  color: #5b6c94;
}

.color-marine {
  color: #031d5b;
}

.container {
  max-width: 1160px;
  margin: auto;
  padding: 0px 20px;
}

.container--lg {
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 1020px) {
  .container--lg {
    max-width: 90%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container--edge {
  max-width: 1920px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 10px 0px;
  border: none;
  background-color: #1fdb84;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.btn--sm {
  font-size: 16px;
  padding: 10px 24px;
}
.btn--lg {
  font-size: 18px;
  padding: 20px 40px;
}
.btn--long {
  font-size: 16px;
  padding: 20px 70px;
  border-radius: 5px 0px;
}
.btn:hover {
  box-shadow: 0 8px 34px 11px rgba(31, 219, 132, 0.6);
}

.btn-group {
  font-size: 0;
  width: fit-content;
}
.btn-group .btn {
  color: #6fdeaa;
  background-color: #f1fff8;
  border: solid 1px #aefdd9;
  box-shadow: none;
  border-radius: 5px;
  padding: 20px 30px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
}
.btn-group .btn:hover {
  background-color: rgb(217, 249, 224);
  background-color: white;
}
@media (max-width: 767px) {
  .btn-group .btn {
    font-size: 13px;
  }
}
.btn-group .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .btn--active {
  background-color: white;
}

.card {
  height: 100%;
  display: inline-block;
  text-align: center;
  width: 33.3333333333%;
  font-size: 0;
  vertical-align: top;
}
@media (max-width: 1020px) {
  .card {
    width: 50%;
  }
  .card:not(:first-child) {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card__price {
  font-size: 72px;
  color: #1fdb84;
}
.card__smallText {
  font-size: 16px;
  font-weight: 300;
}
.card__list {
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  line-height: 2.5;
  min-height: 160px;
}

.card--best {
  background-color: white;
  border-top: solid 3px #0a8aff;
  box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
}

.feature {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: calc((100% - 100px) / 3);
  margin: 0 50px 0 0;
}
@media only screen and (min-width: 1020px) {
  .feature:last-child {
    margin-right: 0;
  }
}
@media (max-width: 1020px) {
  .feature {
    width: calc((100% - 40px) / 2);
    margin: 20px 20px 0px 0px;
  }
}
@media (max-width: 767px) {
  .feature {
    width: fit-content;
    display: block;
    margin: 20px auto 0px auto;
  }
  .feature:first-child {
    margin-top: 0;
  }
}
.feature__svgBox {
  background-color: rgba(31, 219, 132, 0.1);
  padding: 20px 16px;
  display: inline-block;
  border-radius: 6px;
}
.feature__svg {
  height: 40px;
  width: 40px;
}
.feature__heading {
  margin-top: 26px;
  color: #031d5b;
  font-size: 18px;
  position: relative;
  padding-bottom: 28px;
}
.feature__heading::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 73px;
  bottom: 0;
  left: 0;
  border-bottom: 4px solid #1fdb84;
}
.feature__body {
  margin-top: 18px;
  max-width: 300px;
  color: #5b6c94;
}

.field {
  position: relative;
  height: 48px;
  width: 320px;
}
.field__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #5b6c94;
  border-radius: 10px 0px;
  font-family: inherit;
  font-size: inherit;
  color: #5b6c94;
  outline: none;
  padding: 20px;
  background: none;
  outline: none;
  transition: all 0.3s ease-in-out 0s;
  /* Change border when input focus*/
}
.field__input:hover {
  border-color: #afd9c6;
}
.field__input:focus {
  border-color: #1fdb84;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
.field__input:focus::placeholder {
  color: #5b6c94;
}
.field__input::placeholder {
  color: transparent;
}
.field__label {
  position: absolute;
  left: 16px;
  top: 12.8px;
  padding: 0 8px;
  color: white;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: white;
  color: black;
}
.field__showPassword {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.field__showPassword:hover {
  fill: #1fdb84;
}

.field__input:focus ~ .field__label,
.field__input:not(:placeholder-shown).field__input:not(:focus) ~ .field__label {
  top: -8px;
  font-size: 12.8px;
  left: 12.8px;
}

.field--password .field__input {
  padding-right: 40px;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: #313a5a;
  padding: min(120px, 20vw) 0px 0px 0px;
  font-size: 0;
}
.hero .container {
  height: 100%;
}
.hero__content {
  display: inline-block;
  width: 50%;
  margin: min(100px, 10vw) 0px 0px 0px;
}
@media (max-width: 767px) {
  .hero__content {
    width: 100%;
  }
}
.hero__heading {
  max-width: 489px;
}
.hero__body {
  max-width: 540px;
}
.hero__image {
  width: 50%;
  height: 100%;
  display: inline-block;
  background: url("https://raw.githubusercontent.com/KailashGanesh/autocrypt/main/assests/images/phone-hand-optimized.webp") no-repeat center center;
  background-size: contain;
}
.hero__image .img-fluid {
  max-width: 430px;
  max-height: 700px;
}

/* header */
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 70px;
  transition: all 0.2s ease-in-out 0s;
  z-index: 2;
  background-color: transparent;
  padding-top: 20px;
}
.header--sticky {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  backdrop-filter: blur(10px);
}

.nav {
  font-size: 0;
}
.nav::after {
  content: "";
  display: table;
  clear: both;
}
.nav li {
  list-style: none;
  display: inline-block;
}
.nav__left {
  width: 50%;
  display: inline-block;
  text-align: start;
  line-height: 2.2;
  vertical-align: middle;
}
@media only screen and (min-width: 1020px) {
  .nav__left {
    width: 25%;
  }
}
.nav__center {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: 300;
  vertical-align: middle;
}
.nav__center li {
  font-size: 16px;
}
.nav__center li:not(:first-child) {
  margin-left: 20px;
}
.nav__right {
  display: inline-block;
  width: 25%;
  text-align: end;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
}
@media (max-width: 1020px) {
  .nav__right {
    width: 50%;
  }
}
.nav__right > li:last-child {
  margin-left: 20px;
}

.hamburger {
  fill: white;
  height: 30px;
  width: 30px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  vertical-align: middle;
}
.hamburger:hover {
  fill: #1fdb84;
}

/* mobile nav start*/
.overlay {
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  transition: all 0.5s ease-in-out 0s;
  color: white;
  backdrop-filter: blur(6px);
  padding: 0 40px;
}
.overlay a {
  color: white;
}

.overlay__closeBtn {
  color: white;
  font-size: 50px;
  text-align: right;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  right: 20px;
  top: 10px;
}

.overlay__nav {
  text-align: center;
  list-style: none;
  line-height: 2.5;
  font-size: 20px;
  margin-top: 50%;
}
.overlay__nav li:nth-child(4) {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.overlay__nav li:nth-child(5) {
  margin-bottom: 10px;
}

.overlay__nav--active {
  transform: translateX(0%);
}

.modelbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  z-index: 4;
  color: black;
  transform: scale(0);
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out transform, backdrop-filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0;
  background-color: transparent;
}
.modelbox__form {
  border-bottom: 1px #1fdb84 solid;
  margin-bottom: 30px;
}
.modelbox__con {
  border-radius: 10px;
  background-color: white;
  position: absolute;
  max-width: 90%;
  padding: 20px 20px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.modelbox__closeBtn {
  text-align: right;
  font-size: 1.5rem;
}
.modelbox__heading {
  margin-bottom: 5px;
}
.modelbox__smallText {
  font-weight: 300;
  color: #313a5a;
  margin-bottom: 20px;
}
.modelbox .field {
  display: block;
  margin: 0 auto 15px auto;
  outline: none;
}
.modelbox .field:nth-child(3) {
  margin-bottom: 20px;
}
.modelbox__submitBtn {
  margin: 0 auto 30px auto;
  border: 0;
  width: 100%;
}
.modelbox__login {
  color: #1fdb84;
  text-decoration: underline;
}

.model-shown {
  display: block;
}

.model-animate {
  opacity: 1;
  transform: scale(1);
}

.model-background {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
}

.splide {
  background: linear-gradient(90deg, #f8f9fc 40%, #313a5a 40%);
  padding: 200px 0;
  position: relative;
}
.splide__track {
  width: 70%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .splide__track {
    width: 90%;
  }
}
.splide__quote {
  position: absolute;
  top: 30px;
  left: 180px;
  min-height: 351px;
  background-image: url("/autocrypt/assests/images/green-quote.svg");
  background-size: auto 325px;
  background-repeat: no-repeat;
}
@media (max-width: 1020px) {
  .splide__quote {
    width: 50%;
    height: auto;
    left: 20px;
    background-size: auto 80%;
  }
}
@media (max-width: 767px) {
  .splide__quote {
    background-size: auto 40%;
  }
}
.splide__heading {
  max-width: 300px;
  margin: 40px 0 0 10px;
}
@media (max-width: 1020px) {
  .splide__heading {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .splide__heading {
    font-size: 20px;
    margin-left: 5px;
  }
}
.splide__slide {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 6px;
  padding: 80px 50px 60px 50px;
  transition: background-color 0.3s ease-in-out 0s;
}
@media (max-width: 767px) {
  .splide__slide {
    scroll-snap-align: center;
    padding: 50px 20px 50px 20px;
    height: 400px;
  }
}
.splide__slideQuote {
  margin-bottom: 20px;
  fill: #1fdb84;
  transition: fill 0.3s ease-in-out 0s;
}
.splide__body {
  font-size: 18px;
  color: #5b6c94;
  margin-bottom: 40px;
  line-height: 2;
  transition: color 0.3s ease-in-out 0s;
}
@media (max-width: 767px) {
  .splide__body {
    font-size: 14px;
  }
}
.splide__auth {
  font-size: 18px;
  color: #031d5b;
  font-weight: 500;
  transition: color 0.3s ease-in-out 0s;
}
@media (max-width: 767px) {
  .splide__auth {
    font-size: 14px;
  }
}
.splide__auth span {
  font-weight: 300;
}

.is-active .is-active .splide__slideQuote {
  fill: white;
}
.is-active .is-active .splide__body {
  color: white;
}
.is-active .is-active .splide__auth {
  color: white;
}

.is-active,
.is-next,
.is-next + .splide__slide {
  visibility: visible;
}

.splide__list > .is-active {
  background-color: #1fdb84;
  box-shadow: 3px 5px 17px 0px rgba(31, 219, 132, 0.5);
}

.splide:not(.is-overflow) .splide__arrows {
  display: none;
}

.splide__pagination__page {
  background-color: transparent;
  border: 1px solid white;
}

.presentation > .is-active {
  background-color: white;
}

.splide__pagination {
  bottom: 5.5em;
}
@media (max-width: 767px) {
  .splide__pagination {
    left: 40px;
  }
}

.splide__pagination__page {
  height: 12px;
  width: 12px;
  margin: 4px;
}

.carousel {
  margin-top: 50px;
  background: linear-gradient(90deg, #f8f9fc 40%, #313a5a 40%);
  padding: 200px 0;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
.carousel__quote {
  position: absolute;
  top: 30px;
  left: 180px;
  min-height: 351px;
  background-image: url("/autocrypt/assests/images/green-quote.svg");
  background-size: auto 325px;
  background-repeat: no-repeat;
}
@media (max-width: 1020px) {
  .carousel__quote {
    width: 50%;
    height: auto;
    left: 20px;
    background-size: auto 80%;
  }
}
@media (max-width: 767px) {
  .carousel__quote {
    background-size: auto 40%;
  }
}
.carousel__heading {
  max-width: 300px;
  margin: 40px 0 0 10px;
}
@media (max-width: 1020px) {
  .carousel__heading {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .carousel__heading {
    font-size: 20px;
    margin-left: 5px;
  }
}
.carousel__list {
  overflow: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
  width: 70%;
  font-size: 0;
  margin-left: auto;
  scroll-snap-type: x mandatory;
}
@media (max-width: 767px) {
  .carousel__list {
    width: 90%;
  }
}
.carousel__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.carousel__slide {
  display: inline-block;
  white-space: normal;
  height: 500px;
  width: 420px;
  padding: 80px 50px 60px 50px;
  border-radius: 6px;
  background-color: white;
  list-style: none;
  margin-right: 40px;
  font-size: 16px;
  vertical-align: middle;
  scroll-snap-align: start;
  transition: all 0.3s ease-in-out 0.4s;
  transition: background-color 0.3s ease-in-out 0.4s;
}
.carousel__slide:nth-child(6), .carousel__slide:nth-child(7) {
  visibility: hidden;
}
@media (max-width: 767px) {
  .carousel__slide {
    width: calc(100% - 40px);
    scroll-snap-align: center;
    padding: 50px 20px 50px 20px;
    height: 400px;
  }
}
.carousel__buttons {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .carousel__buttons {
    left: 60%;
  }
}
.carousel__slideQuote {
  margin-bottom: 20px;
  fill: #1fdb84;
  transition: fill 0.3s ease-in-out 0.4s;
}
.carousel__body {
  font-size: 18px;
  color: #5b6c94;
  margin-bottom: 40px;
  line-height: 2;
  transition: color 0.3s ease-in-out 0.4s;
}
@media (max-width: 767px) {
  .carousel__body {
    font-size: 14px;
  }
}
.carousel__auth {
  font-size: 18px;
  color: #031d5b;
  font-weight: 500;
  transition: color 0.3s ease-in-out 0.4s;
}
@media (max-width: 767px) {
  .carousel__auth {
    font-size: 14px;
  }
}
.carousel__auth span {
  font-weight: 300;
}

.page__link {
  display: inline-block;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 5px;
  transition: all 0.3s ease-in-out 0s;
}
.page__link:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 1020px) {
  .page__link:hover {
    background-color: white;
  }
}
.page__link--active {
  background-color: white;
}

.slide--active {
  background-color: #1fdb84;
  box-shadow: 3px 5px 17px 0px rgba(31, 219, 132, 0.5);
}
.slide--active .carousel__slideQuote {
  fill: white;
}
.slide--active .carousel__body {
  color: white;
}
.slide--active .carousel__auth {
  color: white;
}

.footer {
  padding: 180px 0px 114px 0px;
}
.footer__copyright {
  font-weight: 300;
  color: #5b6c94;
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
}
.footer__nav {
  text-align: center;
  color: #5b6c94;
  font-size: 16px;
}
@media (max-width: 767px) {
  .footer__nav {
    font-size: 14px;
  }
}
.footer__nav li {
  display: inline-block;
  margin-right: 20px;
  line-height: 2;
}
.footer__nav li:not(:first-child):before {
  padding-right: 20px;
  content: "/";
}

.features {
  margin-top: -50px;
  z-index: 1;
  position: relative;
  font-size: 0;
}
.features .container--lg {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
}

.price {
  font-size: 0;
}
.price__heading {
  max-width: 800px;
}
.price__cards {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
